extends _layout.pug

block title
	- title= "Gode ting"

block content
	+alert("error") You're not authorized. Please
		+space
		+link()(href="/login") signup
		+space
		+text or
		+space
		+link()(href="/login") login
		+text , and try again.