extends _layout.pug

block title
	- title = "HackerNewz | Gode ting"

block description
	- description= "Gode ting Cphbusiness Denmark school project";

block content
	- console.log(userKarma);
	.row
		.col-sm
		.col-sm-7
			+box("userProfile")
				+paragraph("username").mb-3 User: 
					+text()(id="userProfile")= username
				+paragraph().mb-3 Created:
					+space
					+text()(id="createdText")= userCreated
				+paragraph().mb-3 karma:
					+space
					+text()(id="karmaText")= userKarma
		.col-sm