* {
	margin: 0;
}

html, body {
	height: 100%;
}

main {
	margin-top: 7rem;
	min-height: 70%;
}

#divUnauthorized {
	display: none;
}

#divAuthorized {
	display: none;
}

main .container {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -70px; 
}

main .container:after {
	content: "";
	display: block;
}

.footer {
	padding-top: 1.5rem;
	margin-top: 3rem;
	background-color: #f5f5f5;
	text-align: center;
}
.footer, main .container:after {
	height: 70px; 
  }

.page {
	&-header {
		margin-bottom: 3rem;
	}
}

.nav {
	&-item {
		padding: 0.7rem 0;
		a {
			color: #F1FAEE;
			font-size: 1rem;
		}
	}
}

#logoutButton {
	display: none;
}
