footer.footer
	//- .container
	//- .row.justify-content-md-center
	+paragraph("centered")
		+text |
		+link("footer")(href="https://github.com/gode-ting/HackerNews-api" target="_blank") API
		+text |

