include ./mixins/mixins.pug

block base
block title
block description

doctype html
html(lang='en' dir="ltr")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		if title
			title= title
		if description
			meta(name="description" content=description)
		meta(name="viewport" content="width=device-width, user-scalable=yes")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
		link(rel="stylesheet" href="/stylesheets/main.css")
		block stylesheets
		block head
	body
		block body
		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')

		script(src="/scripts/main.js")
		script(src="/scripts/cookie.js")
		block javascripts