.link {

	&--button {
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: .25rem;
	}
	&--login {
		color: #28a745;
		background-color: transparent;

		transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		&:hover {
			background-color: #28a745;
			color: #fff
		}
	}

	&--logout {
		color: #17a2b8; 

		&:hover {
			color: #fff;
			background-color: #17a2b8;
		}
	}

	&--footer {
		color: inherit;
		padding: 0 0.5rem;
		&:hover {
			color: #CFCCD6;
		}
	}
}

a.link {
	text-decoration: none;
}